.body {
  font-family: "Lato", sans-serif;
}
.page_header {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  color: white;
}
.logo-img {
  line-height: 22px;
}
.logo_text {
  font-style: normal;
  font-size: 18px;
  line-height: 22.6px;
}
.main-nav {
  color: white;
}
.ul-nav {
  list-style-type: none;
}
.li1 {
  color: white;
  font-size: 14px;
  line-height: 17px;
}
.login_button {
  background-color: unset;
  color: white;
  border-color: white;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
}
.main_head {
  font-style: normal;
  font-size: 72px;
  line-height: 86.4px;
  color: white;
  font-weight: bold;
}
.text_after_h1 {
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: white;
}
.sign_up_button {
  background-color: white;
  color: #ed4c5c;
  border-color: unset;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16.8px;
}
.section_1 {
  background-color: #fff;
}
.text_section_1 {
  font-size: 16px;
  line-height: 22.4px;
}
.video {
  width: 540px;
  height: 311px;
  border-radius: 15px;
}
.play-button {
  border-radius: 15px;
}
.section_2 {
  background-color: #fafafa;
}
.features_text {
  font-size: 14px;
  line-height: 21px;
}
.read_more {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #ed4c5c;
}
.number {
  font-size: 100px;
  line-height: 120px;
  font-weight: bold;
  color: rgba(16, 16, 16, 0.08);
}
.technology_text {
  font-size: 14px;
  line-height: 16.8px;
}
